.report,
.report_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report_dropdown {
  margin: 2rem;
}

.report_dropdown > select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0rem 0.5rem;
  /* width: 90%; */
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.4);
  background-color: var(--light_color3);
}
