header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.typewriter {
  font-size: 6rem;
  overflow: hidden;
  border-right: 0.12em solid var(--light_color1); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.12em; 
  animation: typing 2.5s steps(40, end), blink-caret 2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--light_color1);
  }
}
